/*  Basic setup of page   */
* {
    margin: 0;
    padding: 0;
    font-family: 'Source Serif 4', sans-serif;
}

/* Hide all the overflow (for mobile navbar) */
body {
    overflow-x: hidden;
    background-color: var(--bgColor);
}

h3 {
    margin-bottom: 2em;
}

p {
    font-size: 14px;
    margin-bottom: 1em;
}

/*  Variables   */
:root {
    --spacing: 5em;
    --spacingMail: 1em;
    --bgColor: #e0dfde;
    --footerColor: #333333;
}



/* Base page styling */
/* Navbar section */
.home_page a:hover{
    text-decoration: underline;
}

.navbar-brand img {
    height: 9vh;
    margin: 0 3vw;
    padding: 0;
}

#navbarNav {
    margin-left: 5vw;
}

.nav-link {
    color: white !important;
}



/* Footer Section */
.footer{
    background-color: var(--footerColor);    
    color: rgb(217, 217, 217);
    height: 100%;
    width: 100%;
    padding-bottom: 3vh;
}

.footer_container {
    padding-top: var(--spacingMail);
}

.footer_logo {
    margin: auto;
}

.footer_logo h4 {
    font-size: 18px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.footer_logo img {
    width: auto;
    height: 15vh;
}

.footer_column {
    display: flex;
    flex-basis: 90%;
    margin: auto;
    justify-content: space-evenly;
    padding-top: var(--spacingMail);
}

.map_container {
    width: 100%;
}

#footer_contact {
    color: white;
}

#footer_contact h5 {
    text-align: center;
}

#footer_contact ul{
    list-style-type: none;
}

#footer_contact a {
    color: white;
}

#footer_contact p {
    text-align: center;
}

#footer_contact h6 {
    margin-bottom: 0;
    text-align: center;
}



/*  Landing page section   */
.landing {
    margin-bottom: var(--spacing);
}

.background {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0)),
    url(/static/Images/Site/Homescreen-No-logo.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 85vh;
    width: 100%;
}

.logo img {
    display: block;
    position: absolute;
    left: 50%;
    height: 60vh;
}

/*  Paragraphs section */
.paragraph {
    width: 80vw;
    margin: auto;
    text-align: center;
}

.paragraph h3 {
    text-decoration: underline;
    font-size: 25px;
}


/*  Section for bullet points with photo   */
.bulletpoint {
    margin-bottom: var(--spacing);
}

.container {
    width: 80%;
    display: flex;
    flex-basis: 45%;
    flex-direction: column;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    flex-direction: row;
    width: 50%;
}

.bulletPhoto {
    display: block;
    width: 70%;
    height: auto;
    margin: auto;
    border-radius: 10px;
}

.bulletList {
    background: linear-gradient(45deg, rgba(187, 188, 189, 1), rgba(121, 161, 201, 0.8), rgba(247, 96, 2, 0.5));
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    height: 100%;
}

.bulletList ul {
    align-items: center;
    height: 100%;
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    margin: 0 2em;
}

@media(max-width: 35em) {
    .container {
        margin: auto;
        width: 90%;
    }

    .row {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .col {
        margin-top: 1em;
        width: 80%;
    }

    .bulletPhoto {
        width: 80%;
    }

    .bulletList {
        width: 100%;
    }
}


/* Extra services Section */
.extra_services {
    width: 100%;
    margin-bottom: var(--spacing);
}

.extra_services h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: var(--spacingMail);
}

.extra_container {
    width: 50%;
    margin: auto;
}

.extra_container h6 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-bottom: 0;
}

.extra_container p {
    text-align: center;
}


/* Home contact section */
.home_contact {
    margin: auto;
    text-align: center;
    padding-bottom: var(--spacing);
}

.contact_info ul li {
    margin-bottom: 2rem;
}

.contact_info h6 {
    font-weight: bold;
}

.contact_info ul li p {
    margin-bottom: 0;
}

.contact_info ul li p span {
    font-weight: bold;
}



/*  Photos with model name  */
.modelPhoto {
    width: 100%;
    height: 100%;
}

.modelContainer {
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 100px;
}

.swiper {
    width: 60%;
    height: 65vh;
}

.swiper-slide {
    width: 100%;
    height: 100vh;
    padding-bottom: 3vh;
}

.swiper-slide h1 {
    text-align: center;
    margin-bottom: 2vh;
    text-decoration: underline;
    font-style: italic;
}

.swiper-slide img {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    border-radius: 5px;
    box-shadow: -5px 3px 3px black;
}

.swiper-wrapper {
    padding-bottom: 2vh;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

.swiper .swiper-button-prev:hover, .swiper .swiper-button-next:hover {
    color: rgb(80, 80, 110);
    scale: 1.2;
}

.swiper .swiper-pagination-bullet-active {
    background: rgb(51, 51, 51);
}

@media(max-width: 35em) {
    .swiper-slide {
        width: 100%;
        padding-bottom: 5vh;
    }

    .swiper .swiper-button-prev, .swiper .swiper-button-next {
        display: none;
    }
}




/*  Team Page   */
.team {
    width: 90%;
    margin: auto;
}

.team img {
    display: block;
    margin: auto;
    height: 40vh;
    width: auto;
}

.team h1 {
    margin-bottom: 5vh;
    text-align: center;
    font-size: 30px;
}

.team h2 {
    text-align: center;
    font-size: 22px;
}

.teamRow {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}

.teamCol {
    flex-direction: row;
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
}

.teamCol img {
    display: block;
    margin-left: auto;
    margin-top: 0;
    width: 15vw;
    height: auto;
    border-radius: 50%;
}

.teamCol h4 {
    text-align: center;
    font-size: 20px;
    padding-top: 1vh;
    padding-bottom: 0;
    margin-bottom: 1vh;
    text-decoration: underline;
}

.teamCol h5 {
    font-size: 18px;
}

.teamCol p {
    padding-top: 2vh;
}

@media(max-width: 35em) {
    .teamRow {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .teamCol {
        width: 70%;
        text-align: center;
    }
}



/*  Email page  */
.baseForms {
    width: 100%;
    margin-bottom: var(--spacing);
}

.imageContainer {
    width: 80%;
    margin: auto;
}

.imageContainer img {
    height: 30vh;
    width: auto;
}

.error h3 {
    margin-top: var(--spacingMail);
    text-align: center;
    color: red;
}

.container {
    margin-top: 5vh;
    position: relative;
    text-align: center;
}

.emailForm .container p {
    text-align: center;
    color: red;
}

.heroButton{
    border-radius: 5px;
    padding: 1vh 2vw;
    background-color: rgba(121, 161, 201, 0.8);
    border: 1px solid black;
    transition: 0.2s;
}

.heroButton:hover {
    box-shadow: 2px 2px grey;
    transform: scale(1.05);
    font-weight: bold;
    background-color: rgba(121, 161, 201, 1);
}

.emailForm {
    width: 80%;
    margin: auto;
}

.formContainer {
    width: 100%;
    margin: auto;
    align-content: center;
}

.formFields {
    padding-top: var(--spacingMail);
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: auto;
}

.formFields label {
    font-weight: bold;
}

.formFields input {
    border-radius: 5px;
    border: 1px solid black;
}

#textArea {
    display: block;
    text-align: center;
}

#textArea textarea {
    border-radius: 5px;
    width: 100%;
    height: 20vh;
}

@media(max-width: 35em) {
    .formContainer {
        text-align: center;
    }

    .formFields {
        flex-direction: column;
        width: 80%;
    }

    .formFields input {
        padding: 2vh 0;
        font-size: 16px;
    }

    .heroButton {
        font-size: 16px;
    }
}



/*  Email sent Section  */
.emailSent {
    color: red;
    padding: 40vh 0;
    text-align: center;
    line-height: 8vh;
}

.emailSent a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.2s;
}

.emailSent a:hover {
    text-decoration: underline;
}

/*  Specs section   */
.viewSpecs {
    height: 100%;
    width: 100%;
    margin-bottom: var(--spacing);
}

.specsContainer {
    text-align: center;
    padding-top: 5vh;
}

.specsContainer img {
    width: 60%;
    height: auto;
    border-radius: 10px;
    box-shadow: -5px 3px 3px black;
}

.specsContainer h2 {
    padding-top: 3vh;
    padding-bottom: 2vh;
}

.specsContainer ul li {
    line-height: 1vh;
}


