<!DOCTYPE html>
<html>
    <head lang="en">

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/Styles.css') }}">
        <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js" async defer></script>
        <script src="{{ url_for('static', filename='scripts/scripts.js') }}" async defer></script>

        <title>{% block title %}{% endblock title %}</title>
        <link rel="icon" href="{{ url_for('static', filename='Images/Logo.png') }}" type = "image/x-icon">

        
        <!-- Add Bootstrap JS for navbar -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" async defer></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" async defer></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" async defer></script>
    </head>

    <body>

        <section class="home_page">
			<nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <a class="navbar-brand" href="{{ url_for('views.home_page') }}"><img src="{{ url_for('static', filename='Images/Site/ces logo2.png') }}" alt="CES logo"></a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="{{ url_for('views.home_page') }}">Home</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('views.home_page') }}">Models</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('views.team') }}">Team</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="#">Services</a> <!-- repairs, service, sales etc-->
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a> <!-- repairs, service, sales etc-->
                    </li>
                  </ul>
                </div>
                <h3>We are built different!</h3>
              </nav>
		</section>

        {% block content %}
        {% endblock content %}

        <section class="footer">

            <div class="footer_container">  
                <div class="footer_column">
                    <div>
                        <div class="footer_logo">
                            <h4>CES Pomona <span>(PTY) LTD</span></h4>

                            <a href="{{ url_for('views.home_page') }}">
                                <img class="" src="{{ url_for('static', filename='Images/Site/CES logo2.png') }}" alt="Logo">
                            </a>
                        </div>
                    </div>

                    <div>
                        <div class="map_container">
                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=144&amp;height=139&amp;hl=en&amp;q=81 pomona road kempton park&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                                    <a href="https://mcpenation.com/">https://mcpenation.com</a>
                                </div>
                                <style>.mapouter{position:relative;text-align:right;width:100%;height:139px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:139px;}.gmap_iframe {height:139px!important;}</style>
                            </div>
                        </div>
                    </div>

                    <div id="footer_contact">
                        <h5>Contact Us!</h5>
                        <ul>
                            <li>
                                <h6>Bruce</h6>
                                <p><a href="{{ url_for('views.manager') }}">Director</a> - 072 119 3597</p>
                            </li>

                            <li>
                                <h6>Marcel</h6>
                                <p><a href="{{ url_for('views.office') }}">Opperations</a> - 071 453 5989</p>
                            </li>

                            <li>
                                <h6>Office</h6>
                                <p>010 109 1741</p>
                            </li>
                        </ul>
                    </div>
                </div>  
            </div> 

        </section>
    </body>
</html>