{% extends 'base.html' %}

{% block title %}
    Forklift Models
{% endblock title %}

{% block content %}
    <section class="forklift_models">
        <div class="model">
            <h3>CPCD20</h3>
            <img src="{{ url_for('static', filename='Images/2 ton/front.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='Images/2 ton/side.jpg') }}" alt="">

                        
            <h5>Specifications</h5>
            <ul>
                <li>
                    <p>
                        3M Duplex mast - Standard
                    </p>
                </li>

                <li>
                    <p>
                        4m Duplex Mast - optional
                    </p>
                </li>

                <li>
                    <p>
                        4.7M Triplex (container mast) - optional
                    </p>
                </li>

                <li>
                    <p>
                        sideshift (cascade) - Standard
                    </p>
                </li>

                <li>
                    <p>
                        Solid tyres - Standard
                    </p>
                </li>

                <li>
                    <p>1070mm class 2 forks - Standard</p>
                </li>

                <li>
                    <p>
                        Xinchai 490 diesel engine - Standard
                    </p>
                </li>

                <li>
                    <p>
                        Isuzu, Yanmar, nissan (gas/LPG) engines - optional
                    </p>
                </li>

                <li>
                    <p>
                        2 year / 3 000 hours warranty - Standard
                    </p>
                </li>
            </ul>
        </div>

        <div class="model">
            <h3>CLG2020A-S/E</h3>
            <img src="{{ url_for('static', filename='Images/2 ton electric/front.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='Images/2 ton electric/rear.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='Images/2 ton electric/left.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='Images/2 ton electric/right.jpg') }}" alt="">

                        
            <h5>Specifications</h5>
            <ul>
                <li>
                    <p>
                        4.7M Triplex (container mast) - Standard
                    </p>
                </li>

                <li>
                    <p>
                        sideshift (cascade) - Standard
                    </p>
                </li>

                <li>
                    <p>
                        Solid tyres - Standard
                    </p>
                </li>

                <li>
                    <p>1070mm class 2 forks - Standard</p>
                </li>

                <li>
                    <p>
                        48V Lithium Battery
                    </p>
                </li>

                <li>
                    <p>
                        48V Lead Acid Battery
                    </p>
                </li>

                <li>
                    <p>
                        2 year / 3 000 hours warranty - Standard
                    </p>
                </li>
            </ul>
        </div>

        <div class="model">
            <h3>cpcd25</h3>
            <img src="{{ url_for('static', filename='Images/2.5 ton/front.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='Images/2.5 ton/rear.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='Images/2.5 ton/left.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='Images/2.5 ton/right.jpg') }}" alt="">
            
            <h5>Specifications</h5>
            <ul>
                <li>
                    <p>
                        3M Duplex mast - Standard
                    </p>
                </li>

                <li>
                    <p>
                        4m Duplex Mast - optional
                    </p>
                </li>

                <li>
                    <p>
                        4.7M Triplex (container mast) - optional
                    </p>
                </li>

                <li>
                    <p>
                        sideshift (cascade) - Standard
                    </p>
                </li>

                <li>
                    <p>
                        Solid tyres - Standard
                    </p>
                </li>

                <li>
                    <p>1070mm class 2 forks - Standard</p>
                </li>

                <li>
                    <p>
                        Xinchai 498 diesel engine - Standard
                    </p>
                </li>

                <li>
                    <p>
                        Isuzu, Yanmar, nissan (gas/LPG) engines - optional
                    </p>
                </li>

                <li>
                    <p>
                        2 year / 3 000 hours warranty - Standard
                    </p>
                </li>
            </ul>
        </div>

        <div class="model">
            <h3>cpcd25 srt</h3>
            <img src="{{ url_for('static', filename='Images/srt/front.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='Images/srt/rear.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='Images/srt/left.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='Images/srt/right.jpg') }}" alt="">

                        
            <h5>Specifications</h5>
            <ul>
                <li>
                    <p>
                        3M Duplex mast - Standard
                    </p>
                </li>

                <li>
                    <p>
                        4m Duplex Mast - optional
                    </p>
                </li>

                <li>
                    <p>
                        4.7M Triplex (container mast) - optional
                    </p>
                </li>

                <li>
                    <p>
                        sideshift (cascade) - Standard
                    </p>
                </li>

                <li>
                    <p>
                        Solid tyres - Standard
                    </p>
                </li>

                <li>
                    <p>1220mm class 2 forks - Standard</p>
                </li>

                <li>
                    <p>
                        Xinchai 498 diesel engine - Standard
                    </p>
                </li>

                <li>
                    <p>
                        Isuzu, Yanmar, nissan (gas/LPG) engines - optional
                    </p>
                </li>

                <li>
                    <p>
                        2 year / 3 000 hours warranty - Standard
                    </p>
                </li>
            </ul>
        </div>

        <div class="model">
            <h3>cpcd35</h3>
            <img src="{{ url_for('static', filename='Images/3.5 ton/front.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='Images/3.5 ton/side.jpg') }}" alt="">

                        
            <h5>Specifications</h5>
            <ul>
                <li>
                    <p>
                        3M Duplex mast - Standard
                    </p>
                </li>

                <li>
                    <p>
                        4m Duplex Mast - optional
                    </p>
                </li>

                <li>
                    <p>
                        4.5M Triplex (container mast) - optional
                    </p>
                </li>

                <li>
                    <p>
                        sideshift (cascade) - Standard
                    </p>
                </li>

                <li>
                    <p>
                        Solid tyres - Standard
                    </p>
                </li>

                <li>
                    <p>1220mm class 3 forks - Standard</p>
                </li>

                <li>
                    <p>
                        Xinchai 498 diesel engine - Standard
                    </p>
                </li>

                <li>
                    <p>
                        Isuzu, Yanmar, nissan (gas/LPG) engines - optional
                    </p>
                </li>

                <li>
                    <p>
                        2 year / 3 000 hours warranty - Standard
                    </p>
                </li>
            </ul>
        </div>

        <div class="model">
            <h3>CPD35</h3>
            <img src="{{ url_for('static', filename='Images/CPD35/front.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='Images/CPD35/rear.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='Images/CPD35/left.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='Images/CPD35/right.jpg') }}" alt="">
            
            <h5>Specifications</h5>
            <ul>
                <li>
                    <p>
                        4.5M Triplex (container mast) - standard
                    </p>
                </li>

                <li>
                    <p>
                        3M Duplex mast - optional
                    </p>
                </li>

                <li>
                    <p>
                        4m Duplex Mast - optional
                    </p>
                </li>

                <li>
                    <p>
                        sideshift (cascade) - Standard
                    </p>
                </li>

                <li>
                    <p>
                        Solid tyres - Standard
                    </p>
                </li>

                <li>
                    <p>1220mm class 2 forks - Standard</p>
                </li>

                <li>
                    <p>
                        48V Lithium Battery
                    </p>
                </li>

                <li>
                    <p>
                        48V Lead Acid Battery
                    </p>
                </li>

                <li>
                    <p>
                        2 year / 3 000 hours warranty - Standard
                    </p>
                </li>
            </ul>
        </div>

        <div class="model">
            <h3>clg2050h-light</h3>
            <img src="{{ url_for('static', filename='Images/5 ton/front.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='Images/5 ton/rear.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='Images/5 ton/left.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='Images/5 ton/right.jpg') }}" alt="">

                        
            <h5>Specifications</h5>
            <ul>
                <li>
                    <p>
                        3M Duplex mast - Standard
                    </p>
                </li>

                <li>
                    <p>
                        4m Duplex Mast - optional
                    </p>
                </li>

                <li>
                    <p>
                        4.5M Triplex (container mast) - optional
                    </p>
                </li>

                <li>
                    <p>
                        sideshift (cascade) - Standard
                    </p>
                </li>

                <li>
                    <p>
                        Solid tyres - Standard
                    </p>
                </li>

                <li>
                    <p>15200mm class 2 forks - Standard</p>
                </li>

                <li>
                    <p>
                        Xinchai diesel engine - Standard
                    </p>
                </li>

                <li>
                    <p>
                        2 year / 3 000 hours warranty - Standard
                    </p>
                </li>
            </ul>
        </div>

        <div class="model">
            <h3>clg2070h</h3>
            <img src="{{ url_for('static', filename='Images/7 ton/front.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='Images/7 ton/side.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='Images/7 ton/rear.jpg') }}" alt="">

                        
            <h5>Specifications</h5>
            <ul>   
                <li>
                    <p>
                        4m Duplex Mast - Standard
                    </p>
                </li>

                <li>
                    <p>
                        3M Duplex mast - Optional
                    </p>
                </li>

                <li>
                    <p>
                        4.7M Triplex (container mast) - optional
                    </p>
                </li>

                <li>
                    <p>
                        sideshift (cascade) - Standard
                    </p>
                </li>

                <li>
                    <p>
                        Solid tyres - Standard
                    </p>
                </li>

                <li>
                    <p>1800mm class 2 forks - Standard</p>
                </li>

                <li>
                    <p>
                        Yuchai diesel engine - Standard
                    </p>
                </li>

                <li>
                    <p>
                        Isuzu, Cummins engines - optional
                    </p>
                </li>

                <li>
                    <p>
                        2 year / 3 000 hours warranty - Standard
                    </p>
                </li>
            </ul>
        </div>

        <div class="model">
            <h3>clg2120h</h3>
            <img src="{{ url_for('static', filename='Images/12 ton/front.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='Images/12 ton/side.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='Images/12 ton/rear.jpg') }}" alt="">
            <img src="{{ url_for('static', filename='Images/12 ton/angle.jpg') }}" alt="">

                        
            <h5>Specifications</h5>
            <ul>
                <li>
                    <p>
                        3M Duplex mast - Standard
                    </p>
                </li>

                <li>
                    <p>
                        4m Duplex Mast - optional
                    </p>
                </li>

                <li>
                    <p>
                        4.7M Triplex (container mast) - optional
                    </p>
                </li>

                <li>
                    <p>
                        sideshift (cascade) - Standard
                    </p>
                </li>

                <li>
                    <p>
                        Solid tyres - Standard
                    </p>
                </li>

                <li>
                    <p>2100mm class 2 forks - Standard</p>
                </li>

                <li>
                    <p>
                        Yuchai diesel engine - Standard
                    </p>
                </li>

                <li>
                    <p>
                        Isuzu, Cummins engines - optional
                    </p>
                </li>

                <li>
                    <p>
                        2 year / 3 000 hours warranty - Standard
                    </p>
                </li>
            </ul>
        </div>
    </section>
{% endblock content %}